body{background-color:#3498db;margin-top:25px}.well{background-color:transparent}.page{background-color:#fff;-moz-box-shadow:3px 3px 4px #000;-webkit-box-shadow:3px 3px 4px #000;box-shadow:3px 3px 4px #000}.page-header{border-bottom:0}blockquote{background-color:#333;color:#fff;border:1px #fff;-moz-box-shadow:3px 3px 4px #000;-webkit-box-shadow:3px 3px 4px #000;box-shadow:3px 3px 4px #000;padding:5px 15px}blockquote:before{font-size:4em;line-height:.1em;margin-right:.25em;vertical-align:-.4em;color:#ccc}blockquote p{font-style:italic}.thumbnail{border:0}.video{height:100%;max-width:100%;padding-top:56.25%;position:relative;width:100%}iframe{height:100%;left:0;position:absolute;top:0;width:100%}.ad{display:table;margin:0 auto}h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,legend{color:#333;font-weight:200;line-height:normal;text-shadow:1px 1px 0 #FFFFFF, 2px 2px 0 #BBB;text-transform:uppercase}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{background-color:#e74c3c;text-transform:uppercase;-webkit-transform: translate(9px, 0px) rotate(0deg) skew(0deg, 0deg) scale(1, 1);-moz-transform: translate(9px, 0px) rotate(0deg) skew(0deg, 0deg) scale(1, 1);-o-transform: translate(9px, 0px) rotate(0deg) skew(0deg, 0deg) scale(1, 1);-ms-transform: translate(9px, 0px) rotate(0deg) skew(0deg, 0deg) scale(1, 1);transform: translate(9px, 0px) rotate(0deg) skew(0deg, 0deg) scale(1, 1); }h1,h2,h3,h4,h5,h6{font-size:30px}a:hover{text-decoration:none;text-shadow:1px 1px 0 #000;color:#fff;background-color:#e74c3c}a{text-transform:uppercase;}.pager li > a:hover,a.list-group-item:hover{background-color:#e74c3c;}pre {
    margin: 8px 15px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
code, pre {
    background: none no-repeat scroll left top #000000;
    border: 1px solid #000000;
    color: #F5F5F5;
    display: block;
    font-size: 13px;
    margin: 0 0 10px;
    opacity: 0.85;
    padding: 9.5px;
    text-shadow: none;
}